smart-vehicle-frontend-app/node_modules
smart-vehicle-frontend-app/public/test/*
smart-vehicle-frontend-app/src/__pycache__
backend-app/cropped_images/*
backend-app/__pycache__
backend-app/dataset/*
.DS_Store

